.sub-heading {
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-style: italic;
}

h1{
  margin-left: 10px;
  color: #540702;
}
img {
  margin-bottom: -40px; 
}
p {
  padding: 20px;
}
h3 {
  margin-left: 10px;
}
